#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  
}

.div-1{
  max-width: 1300px;
  margin: 0 auto;
}
.active{
  background-color: rgb(242, 90, 9);
}
.div-2{
  display: flex;
 flex-wrap: wrap;
 max-width: 1300px;
 margin: 0 auto;
 gap: 2%;
 justify-content: center;
}
.div-2 article{
  width: 300px;
  height: 0px;
  /* transition: all .5s ease; */
}
.div-2 article:hover{
  filter: blur(2.5px);
}
.button{
  width: 30%;
  background-color: blue;
  height: 40px;
  color: aliceblue;
  border-radius: 10px;
  margin: 50px 0 0 0;
}
.div-3{
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-4{
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.div-5{
  max-width: 1300px;
  text-align: center;
  margin: 60px auto;
}
.div-5 h1{
  font-size: 25px;
  font-weight: 600;
}
.div-5 p{
  margin-top: 10px;
  font-size: 18px;
}